doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    block styles
      link(rel='stylesheet', href='../css/float-grid.css')
      link(rel='stylesheet', href='../css/main.css')
    title= title
  body.full

    block body

    block footer
    script(src='https://use.fontawesome.com/d2f671ff86.js')
